@{
    Layout = "_Layout";
}
<html>

<body>
    <h1>Welcome to the To Do List!</h1>
    <h2>@Html.ActionLink("See all categories", "Index", "Categories")</h2>
    <h3>@Html.ActionLink("Seel all items", "Index", "Items")</h3>


</body>

</html>